<launch>
  <!-- Launch the wall follower with parameters -->
  <rosparam command="load" file="$(find racecar_mn)/config/params.yaml" />
  <node pkg="joy" type="joy_node" name="joy_node" />
  <node pkg="racecar_mn" name="mux" type="mux.py" output="screen" />
  <node pkg="racecar_mn" name="gamepad" type="gamepad.py" output="screen" />
  <node pkg="racecar_mn" name="pwm" type="pwm.py" output="screen" />
  <node pkg="racecar_mn" name="throttle" type="throttle.py" output="screen" />

  <!-- Uncomment to enable by default -->
  <!-- <node pkg="racecar_mn" name="simple_camera" type="simple_camera.py" /> -->
  <!-- <include file="$(find ydlidar)/launch/lidar.launch" /> -->
</launch>
